/* Import Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Allura&family=Libre+Baskerville:wght@400;700&family=Great+Vibes&family=Libre+Caslon+Text:wght@400;700&family=Montserrat:wght@400;600;700&family=Raleway:wght@400;500;600;700&family=Lora:wght@400;600;700&display=swap");

/* Import Tailwind */
@import "tailwindcss";

/* Define custom fonts using @theme */
@theme {
  --font-1: "Allura", cursive;
  --font-2: "Lora", serif;
  --font-3: "Montserrat", sans-serif;

  --font-4: "Great Vibes", cursive;
  --font-5: "Libre Caslon Text", serif;

  --font-7: "Raleway", sans-serif;
}
